<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            

            <div class="span4">
                <h4>Notre entrepôt</h4>
                <p><i class="icon-map-marker"></i>&nbsp;{{adresse}}</p>
            </div>

            <div class="span2">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: {{telephone}}</p>
                <p><i class="icon-print"></i>&nbsp;Fax: {{fax}}</p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p>&copy; Copyright {{"now"|date('Y')}} - kadiri</p>
            </div>
        </div>
    </div>
</footer>