{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'une Facture</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    
{% endblock %}
